<!-- Image banner, how to make this smaller? --->
<% if @photos.present? %>
  <div class="col-10 offset-1">
    <%= image_tag @photos, class: "img-responsive picture" %>
  </div>
<% end %>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <%= place.description %><br />
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
    <% if place.comments.present? %>
      <div class="col-12">
        <blockquote>
          <b><%= place.comments.last.humanized_rating %></b> -
            <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
    <% if place.photos.present? %>
      <%= image_tag place.photos.last.photograph.url, class: "picture" %>
    <% end %>

  </div>
<% end %>

<!-- Paginate navigation start --->
<div class="center">
  <div class="block">
    <%= will_paginate @places, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div>
</div>
<!-- Paginate navigation end --->